<a href="https://colab.research.google.com/github/LatiefDataVisionary/numpy-with-w3schools/blob/main/numpy_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Numpy HOME, Introduction**

In [96]:
import numpy as np
arr = np.array([1,2,3,4,5])

In [97]:
arr

array([1, 2, 3, 4, 5])

In [98]:
type(arr)

numpy.ndarray

In [99]:
np.__version__

'1.26.4'

### **NumPy Creating Arrays**

Create a NumPy ndarray Object

In [100]:
arr = np.array([1,2,3,4,5])
arr

array([1, 2, 3, 4, 5])

In [101]:
type(arr)

numpy.ndarray

Use a tuple to create a NumPy array:

In [102]:
arr = np.array((1,2,3,4,5))
arr

array([1, 2, 3, 4, 5])

Dimensions in Arrays

1. 0-D Arrays

In [103]:
arr = np.array(42)
arr

array(42)

2. 1-D Arrays

In [104]:
arr = np.array([1,2,3,4,5])
arr

array([1, 2, 3, 4, 5])

3. 2-D Arrays

In [105]:
arr = np.array([[1,2,3], [4,5,6]])
arr

array([[1, 2, 3],
       [4, 5, 6]])

4. 3-D arrays

In [106]:
arr = np.array([[[1,2,3], [4,5,6]],[[1,2,3], [4,5,6]]])
arr

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

Check Number of Dimensions?

In [107]:
a = np.array(42)
b = np.array([1,2,3,4,5])
c = np.array([[1,2,3], [4,5,6]])
d = np.array([[[1,2,3], [4,5,6]], [[1,2,3], [4,5,6]]])

In [108]:
print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

Higher Dimensional Arrays

In [109]:
arr = np.array([1,2,3,4], ndmin=5)
arr

array([[[[[1, 2, 3, 4]]]]])

In [110]:
print('Number of dimensions: ', arr.ndim)

Number of dimensions:  5

### **Access Array Elements**

In [111]:
arr = np.array([1,2,3,4])
arr[0]

1

In [112]:
arr = np.array([1,2,3,4])
arr[2] + arr[3]

7

Access 2-D Arrays

In [113]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print(arr[0,1])
print(arr[1,2])
print(arr[0,4])
print(arr[1,3])

2
8
5
9

Access 3-D Arrays

In [114]:
arr = np.array([[[1,2,3], [4,5,6]], [[7,8,9], [10,11,12]]])
print(arr[0,1,2])
print(arr[1,1,2])

6
12

Negative Indexing

In [115]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print(arr[1, -1])
print(arr[0, -4])
print(arr[1, -3])

10
2
8

### **NumPy Array Slicing**

Slicing arrays

In [116]:
arr = np.array([1,2,3,4,5,6,7])
print(arr[1:5])
print(arr[4:])
print(arr[:4])

[2 3 4 5]
[5 6 7]
[1 2 3 4]

Negative Slicing

In [117]:
arr = np.array([1,2,3,4,5,6,7])
print(arr[-3:-1])
print(arr[-4:-1])
print(arr[-5:-3])

[5 6]
[4 5 6]
[3 4]

STEP

In [118]:
arr = np.array([1, 2, 3, 4, 5, 6, 7,8,9,])
print(arr[1:5:2])

[2 4]

In [119]:
arr_range = np.arange(1, 100)
arr_range

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [120]:
arr_range[6:47:3]

array([ 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46])

In [121]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])
print(arr[::2])

[1 3 5 7]

In [122]:
arr_range[::3]

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49,
       52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97])

Slicing 2-D Arrays

In [123]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr[1, 1:4])

[7 8 9]

In [124]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr[0:2, 2])

[3 8]

In [125]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr[0:2, 1:4])

[[2 3 4]
 [7 8 9]]

### **NumPy Data Types**

Checking the Data Type of an Array

In [126]:
arr = np.array([1, 2, 3, 4])
arr.dtype

dtype('int64')

In [127]:
arr = np.array(['apple', 'banana', 'cherry'])
arr.dtype

dtype('<U6')

Creating Arrays With a Defined Data Type

In [128]:
arr = np.array([1,2,3,4], dtype='S')
print(arr)
print(arr.dtype)

[b'1' b'2' b'3' b'4']
|S1

In [129]:
arr = np.array([1, 2, 3, 4], dtype='i4')

print(arr)
print(arr.dtype)

[1 2 3 4]
int32

A non integer string like 'a' can not be converted to integer (will raise an error):

In [130]:
# arr = np.array(['a', '2', '3'], dtype='i')

In [131]:
arr = np.array(['1', '2', '3'], dtype='i')
arr

array([1, 2, 3], dtype=int32)

Converting Data Type on Existing Arrays

In [132]:
arr = np.array([1.1, 2.1, 3.1])
newarr = arr.astype('i')

print(arr)
print(newarr)
print(newarr.dtype)

[1.1 2.1 3.1]
[1 2 3]
int32

In [133]:
arr = np.array([1,0,3])
newarr = arr.astype(bool)

print(arr)
print(newarr)
print(newarr.dtype)

[1 0 3]
[ True False  True]
bool

### **NumPy Array Copy vs View**

COPY:

In [134]:
arr = np.array([1,2,3,4,5])
x = arr.copy()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[1 2 3 4 5]

VIEW:

In [135]:
arr = np.array([1,2,3,4,5])
x = arr.view()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[42  2  3  4  5]

Make Changes in the VIEW:

In [136]:
arr = np.array([1,2,3,4,5])
x = arr.view()
x[0] = 31

print(arr)
print(x)

[31  2  3  4  5]
[31  2  3  4  5]

Check if Array Owns its Data

In [137]:
arr = np.array([1, 2, 3, 4, 5])

x = arr.copy()
y = arr.view()

print(x.base)
print(y.base)

None
[1 2 3 4 5]

### **NumPy Array Shape**

Get the Shape of an Array

In [138]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
arr.shape

(2, 4)

In [139]:
arr = np.array([1,2,3,4], ndmin=5)
print(arr)
print('Shape or array: ', arr.shape)

[[[[[1 2 3 4]]]]]
Shape or array:  (1, 1, 1, 1, 4)

### **NumPy Array Reshape**

Reshape From 1-D to 2-D

In [140]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
newarr = arr.reshape(4,3)
newarr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

Reshape From 1-D to 3-D

In [141]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
newarr = arr.reshape(2,3,2)
newarr

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

Returns Copy or View?

In [142]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
arr.reshape(2,4).base

array([1, 2, 3, 4, 5, 6, 7, 8])

In [143]:
arr_copy = arr.reshape(2, 4).copy()
print(arr_copy.base)  # Output: None (karena ini copy, punya data sendiri)

None

Unknown Dimension

In [144]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
newarr = arr.reshape(2, 2, -1)
newarr

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [145]:
arr_range = np.arange(1, 101)
arr_range

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [146]:
newarr_range = arr_range.reshape(5,10,-1)
newarr_range

array([[[  1,   2],
        [  3,   4],
        [  5,   6],
        [  7,   8],
        [  9,  10],
        [ 11,  12],
        [ 13,  14],
        [ 15,  16],
        [ 17,  18],
        [ 19,  20]],

       [[ 21,  22],
        [ 23,  24],
        [ 25,  26],
        [ 27,  28],
        [ 29,  30],
        [ 31,  32],
        [ 33,  34],
        [ 35,  36],
        [ 37,  38],
        [ 39,  40]],

       [[ 41,  42],
        [ 43,  44],
        [ 45,  46],
        [ 47,  48],
        [ 49,  50],
        [ 51,  52],
        [ 53,  54],
        [ 55,  56],
        [ 57,  58],
        [ 59,  60]],

       [[ 61,  62],
        [ 63,  64],
        [ 65,  66],
        [ 67,  68],
        [ 69,  70],
        [ 71,  72],
        [ 73,  74],
        [ 75,  76],
        [ 77,  78],
        [ 79,  80]],

       [[ 81,  82],
        [ 83,  84],
        [ 85,  86],
        [ 87,  88],
        [ 89,  90],
        [ 91,  92],
        [ 93,  94],
        [ 95,  96],
        [ 97,  98],
        [ 99, 100]]])

Flattening the arrays

In [147]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
newarr = arr.reshape(-1)
newarr

array([1, 2, 3, 4, 5, 6])

In [148]:
newarr_range_respahed = newarr_range.reshape(-1)
newarr_range_respahed

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

### **NumPy Array Iterating**

Iterating Arrays

In [149]:
arr = np.array([1,2,3])
for x in arr:
  print(x)

1
2
3

Iterating 2-D Arrays

In [150]:
arr = np.array([[1,2,3], [4,5,6]])
for x in arr:
  print(x)

[1 2 3]
[4 5 6]

Iterate on each scalar element of the 2-D array:

In [151]:
arr = np.array([[1,2,3], [4,5,6]])
for x in arr:
  for y in x:
    print(y)

1
2
3
4
5
6

Iterate on each scalar element of the 2-D array:

In [152]:
arr = np.array([[[1,2,3], [4,5,6]], [[7,8,9], [10,11,12]]])
for x in arr:
  print(x)

[[1 2 3]
 [4 5 6]]
[[ 7  8  9]
 [10 11 12]]

To return the actual values, the scalars, we have to iterate the arrays in each dimension.

In [153]:
for x in arr:
  for y in x:
    for z in y:
      print(z)

1
2
3
4
5
6
7
8
9
10
11
12

In [154]:
for x in np.nditer(arr):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12

Iterating Arrays Using nditer()

In [155]:
arr = np.array([[[1,2], [3,4]], [[5,6], [7,8]]])
for x in np.nditer(arr):
  print(x)

1
2
3
4
5
6
7
8

Iterating Array With Different Data Types

In [156]:
arr = np.array([1,2,3,4,5,6,7,8])
for x in np.nditer(arr, flags=['buffered'], casting='unsafe', op_dtypes=['float32']):
  print(x)

1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0

In [157]:
for x in np.nditer(arr, flags=['buffered'], op_dtypes=['S']):
  print(x)

b'1'
b'2'
b'3'
b'4'
b'5'
b'6'
b'7'
b'8'

Iterating With Different Step Size

In [158]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
for x in np.nditer(arr[:, ::2]):
  print(x)

1
3
5
7

Enumerated Iteration Using ndenumerate()

In [159]:
arr = np.array([1, 2, 3])
for idx, x in np.ndenumerate(arr):
  print(idx, x)

(0,) 1
(1,) 2
(2,) 3

In [160]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
for idx, x in np.ndenumerate(arr):
  print(idx, x)

(0, 0) 1
(0, 1) 2
(0, 2) 3
(0, 3) 4
(1, 0) 5
(1, 1) 6
(1, 2) 7
(1, 3) 8

### **Joining NumPy Arrays**

In [161]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr = np.concatenate((arr1, arr2))
arr

array([1, 2, 3, 4, 5, 6])

Join two 2-D arrays along rows (axis=1):

In [162]:
arr1 = np.array([[1,2,3], [4,5,6]])
arr2 = np.array([[7,8,9], [10,11,12]])
arr = np.concatenate((arr1, arr2), axis=1)
arr

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

Joining Arrays Using Stack Functions

In [163]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr = np.stack((arr1, arr2), axis=1)
arr

array([[1, 4],
       [2, 5],
       [3, 6]])

In [164]:
arr = np.stack((arr1, arr2), axis=0)
arr

array([[1, 2, 3],
       [4, 5, 6]])

Stacking Along Rows

In [165]:
arr = np.hstack((arr1, arr2))
arr

array([1, 2, 3, 4, 5, 6])

In [166]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr = np.hstack((arr1, arr2))
arr

array([1, 2, 3, 4, 5, 6])

Stacking Along Columns

In [167]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr = np.vstack((arr1, arr2))
arr

array([[1, 2, 3],
       [4, 5, 6]])

Stacking Along Height (depth)

In [168]:
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr = np.dstack((arr1, arr2))
arr

array([[[1, 4],
        [2, 5],
        [3, 6]]])

### **NumPy Splitting Array**

Splitting NumPy Arrays

In [169]:
arr = np.array([1,2,3,4,5,6])
newarr = np.array_split(arr, 3)
newarr

[array([1, 2]), array([3, 4]), array([5, 6])]

In [170]:
print(newarr[0])
print(newarr[1])
print(newarr[2])

[1 2]
[3 4]
[5 6]

Splitting 2-D Arrays

In [171]:
arr = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [11, 12]])
newarr = np.array_split(arr, 3)
newarr

[array([[1, 2],
        [3, 4]]),
 array([[5, 6],
        [7, 8]]),
 array([[ 9, 10],
        [11, 12]])]

Split the 2-D array into three 2-D arrays.

In [172]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])
newarr = np.array_split(arr, 3)
newarr

[array([[1, 2, 3],
        [4, 5, 6]]),
 array([[ 7,  8,  9],
        [10, 11, 12]]),
 array([[13, 14, 15],
        [16, 17, 18]])]

Split the 2-D array into three 2-D arrays along rows.

In [173]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])
newarr = np.array_split(arr, 3, axis=1)
newarr

[array([[ 1],
        [ 4],
        [ 7],
        [10],
        [13],
        [16]]),
 array([[ 2],
        [ 5],
        [ 8],
        [11],
        [14],
        [17]]),
 array([[ 3],
        [ 6],
        [ 9],
        [12],
        [15],
        [18]])]

Use the hsplit() method to split the 2-D array into three 2-D arrays along rows.

In [174]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]])
newarr = np.hsplit(arr, 3)
newarr

[array([[ 1],
        [ 4],
        [ 7],
        [10],
        [13],
        [16]]),
 array([[ 2],
        [ 5],
        [ 8],
        [11],
        [14],
        [17]]),
 array([[ 3],
        [ 6],
        [ 9],
        [12],
        [15],
        [18]])]

### **NumPy Searching Arrays**

In [95]:
arr = np.array([1, 2, 3, 4, 5, 4, 4])
x = np.where(arr == 4)
x

(array([3, 5, 6]),)

Find the indexes where the values are even:

In [177]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
x = np.where(arr % 2 == 0)
x

(array([1, 3, 5, 7]),)

Find the indexes where the values are odd:

In [178]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
x = np.where(arr%2 == 1)
x

(array([0, 2, 4, 6]),)

Search Sorted

Find the indexes where the value 7 should be inserted:

In [179]:
arr = np.array([6, 7, 8, 9])
x = np.searchsorted(arr, 7)
x

1

Find the indexes where the value 7 should be inserted, starting from the right:

In [180]:
arr = np.array([6, 7, 8, 9])
x = np.searchsorted(arr, 7, side='right')
x

2

Multiple Values

In [181]:
arr = np.array([1, 3, 5, 7])
x = np.searchsorted(arr, [2,4,6])
x

array([1, 2, 3])

### **NumPy Sorting Arrays**

Sorting Arrays

In [183]:
arr = np.array([3, 2, 0, 1])
np.sort(arr)

[3 2 0 1]

Sort the array alphabetically:

In [185]:
arr = np.array(['banana', 'cherry', 'apple'])
np.sort(arr)

array(['apple', 'banana', 'cherry'], dtype='<U6')

Sort a boolean array:

In [186]:
arr = np.array([True, False, True])
np.sort(arr)

array([False,  True,  True])

Sorting a 2-D Array

In [187]:
arr = np.array([[3, 2, 4], [5, 0, 1]])
np.sort(arr)

array([[2, 3, 4],
       [0, 1, 5]])